---
const tipoUsuario = "Tipo de Usuario";
import logo from '../assets/lettermarkgray.png';
import UserTypeSelector from './SelectUserType.jsx';
---

<header class="bg-transparent text-white">
  <div class="container mx-auto flex items-center justify-between py-2 px-6 sm:px-10">
    <!-- Logo -->
    <a href="/" class="filter">
      <img src={logo.src} alt="Logo" class="h-8 w-auto sm:w-36 sm:h-auto" />
    </a>
    <!-- Tipo de Usuario -->
    <div class="text-sm font-medium flex flex-row items-center sm:flex-col">
        <label class="text-gray-400 font-medium text-base sm:hidden">Tipo de Usuario</label>
      <span class="py-1 px-3 rounded-md text-base text-gray-500">
        <UserTypeSelector client:load />
      </span>
    </div>
  </div>
</header>
