<!-- ---
import AccidentPolize from "../components/astro/Term&Cond/AccidentPolize.astro";
import LifePolize from "../components/astro/Term&Cond/LifePolize.astro";
import Prices from "../components/astro/Term&Cond/Prices.astro";
---

<main>
    <div id="term-1" class="container mx-auto flex items-center justify-center py-12 px-6 w-full h-screen">
        <AccidentPolize />
    </div>
    <div id="term-2" class="container mx-auto flex items-center justify-center py-12 px-6 w-full h-screen">
        <LifePolize />
    </div>
    <div id="term-3" class="container mx-auto flex items-center justify-center py-12 px-6 w-full h-screen">
        <Prices />
    </div>
</main> -->