---
  interface Props {
    label: string;
    className?: string;
    dataTarget: string;
  }

  const { label, className, dataTarget } = Astro.props;

---

<button 
  class=`plan-btn bg-orange-500 hover:bg-orange-500 hover:scale-110 transition duration-300 text-white font-bold py-2 px-6 border-b-4 border-orange-500 hover:border-orange-400 rounded-3xl cursor-pointer w-5/12 mt-10 mr-10 ${className}`
  data-target={dataTarget}
  >
  {label}
</button>

