---
import image from '../../../assets/rectangulo.png'

---

<div class="flex justify-center -my-24 mb-2">
    <div class="w-5/12 bg-white rounded-lg shadow-xl px-16 py-0 ">
      <div class="relative w-full h-48 overflow-hidden rounded-lg flex flex-col items-center justify-center">
        <span class="text-xl font-semibold text-gray-600 mb-4">¡Atención rápida, segura y de calidad!</span>
        <img src={image.src} alt="imagen de planes" class="w-5/12 h-auto">
      </div>
    </div>
  </div>