---
import logo from '../../../assets/lettermarkgray.png';
---

<header class="bg-transparent text-white">
  <div class="container flex items-center justify-between py-4 px-24 sm:px-10">
    <!-- Logo -->
    <a href="/" class="filter">
      <img src={logo.src} alt="Logo" class="h-8 w-auto sm:w-36 sm:h-auto" />
    </a>
    <!-- Tipo de Usuario -->
    <div class="text-sm font-medium flex flex-row items-center sm:flex-col">
        <a href="https://appmedicall24.com/inicio/" class="text-gray-400 font-medium text-xl hover:text-pink-600 hover:text-xl hover:font-bold transition ease-in-out">Inicio</a>

    </div>
  </div>
</header>
