---
import Table from "../../react/planesPage/Table.jsx"
import CotizeForm from "../../react/planesPage/CotizeForm.jsx"
---
<main>
    <div>
        <Table client:load />
        <CotizeForm />
  </div>

</main>

